doctype html
html(lang = 'en')
 head
   title Home
 body
   h1 This is the #{cat.name} page
      h1 #{cat.description}

      ul
        each item in items
          #item
            a(href=item.url)
              li #{item.name}
              |#{item.description}

            a(href = `/categories/delete/${item.url}/${catID}`) Delete
   a(href=itemURL) Add Items Here
