doctype html
html(lang = 'en')
 head
   title Home
   link(rel='stylesheet', href='/style.css')

 body
   h1 This is the #{cat.name} page
   h1 #{cat.description}
      if user === 'signed in'
        a(href = `/categories/delete/${catID}`) Delete #{cat.name}
        a(href = `/categories/updatecat/${catID}`) Update #{cat.name}

      ul
        each item in items
          #image
            if !item.img
              img(class = 'image' src='/IMG-0064.jpg' )
            else
              img(class = 'image' src=item.img)
            #item
              a(href=`/items/edit-items/${item.url}`)
                li #{item.name}
                |#{item.description}


            a(href = `/categories/delete/${item.url}/${catID}`) Delete
   a(href=itemURL) Add Items Here
